<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Met Explorer</title>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark align-content-center brand-color">
        <a href="/" class="navbar-brand">
            <img src="../static/img/Mona_logo.jpg" class="brand-logo">
            <img src="../static/img/header_logo.png" class="header-logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/overview" class="nav-link">Overview</a>
                </li>
                <li class="nav-item">
                    <a href="/search" class="nav-link">Search the Collection</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
</nav>

    <!-- INFO SECTION -->
   
        <div class="container">
            <div class="row my-5">
                <div class="col-md-4 total-colors"></div>
                <div class="col-md-8 align-self-center">
                    <h3 class="mb-5">What are the most popular colors?</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat aliquid iure necessitatibus
                        nostrum deserunt totam, quae cum molestiae. Iure rerum dolores perspiciatis sequi beatae aperiam
                        excepturi tempora delectus illo fugiat, voluptatibus accusamus nesciunt eos tempore dolorem.
                        Nobis doloremque asperiores velit vel sint, distinctio adipisci, similique quam, consectetur
                        ipsa porro minus?</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-6 align-self-center">
                    <h3 class="mb-5">And popular mediums?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis modi repudiandae
                        voluptatum, sed commodi quod at ut praesentium explicabo quisquam rerum beatae, aspernatur vero?
                        Asperiores dolorum voluptatum consequatur perspiciatis iusto voluptates possimus nisi laborum
                        quidem animi, quis rerum eos. Ea, officiis dignissimos non nisi cum quod eligendi quibusdam
                        laudantium delectus.</p>
                </div>
                <div class="col-md-6 pb-5">
                    <div id="mediums"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container my-5">
            <div class="row my-5">
                <h4 class="mb-1 py-5">Which department will get you the most bang for your buck?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis rem aut cumque, et dignissimos
                    est fugiat tempore blanditiis eaque, necessitatibus beatae, ducimus praesentium sunt nihil provident
                    iure hic repellendus. Officia facilis porro corrupti illo voluptatibus sunt quae provident error,
                    nostrum corporis ipsam! Tenetur, illo officiis enim, dolorum esse fugiat perferendis officia dicta
                    iure inventore qui, neque provident culpa similique!</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="departments"></div>
                </div>
                
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-6 align-self-center">
                    <h3 class="mb-4">Meet the most prolific artists
                        (or at least, the most collected)
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis modi repudiandae
                        voluptatum, sed commodi quod at ut praesentium explicabo quisquam rerum beatae, aspernatur vero?
                        Asperiores dolorum voluptatum consequatur perspiciatis iusto voluptates possimus nisi laborum
                        quidem animi, quis rerum eos. Ea, officiis dignissimos non nisi cum quod eligendi quibusdam
                        laudantium delectus.</p>
                </div>
                <div class="col-md-6 pb-5">
                    <table id="top-artists"></table>
                </div>
            </div>
        </div>
    </section>


    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    {% block javascript %}

    <script>
        // load the objects like you would with a normal jinja template i.e. {{ object }}, but add | tojson
        // pass it into the parse function. Example: results = JSON.parse({{ results | tojson }})
        var met_summary = JSON.parse({{ met_summary | tojson }}); 
        console.log(met_summary)
        
        var 
        
        
        
        
        
        switch(dept_id){
            case 0: dept_name = "American Decorative Arts"
            case 1: dept_name = "American Paintings & Sculpture"
            case 2: dept_name = "Arms & Armor"
            case 3: dept_name = "Asian Art"
            case 4: dept_name = "Modern & Contemporary Art"
            case 5: dept_name = "European Sculpture & Decorative Arts"
            case 6: dept_name = "Photographs"
            case 7: dept_name = "Arts of Africa, Oceania and the Americas"
            case 8: dept_name = "Drawings & Prints"
            case 9: dept_name = "European Paintings"
            case 10: dept_name = "Islamic Arts"
            case 11: dept_name = "Robert Lehman Collection"
            case 12: dept_name = "The Cloisters"
            case 13: dept_name = "Medieval Art"
            case 14: dept_name = "Musical Instruments"}



    </script>
    
    {% endblock %}



    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());
    </script>

</body>

</html>